body {
	margin: 0;
	padding: 0;
	font-family: poppins;
}
/*9AAEDC*/ /*6983C0*/
.nav {
	background-color: #2E4E97;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
}

.nav h1 {
	color: #FFF;
	font-size: 22px;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
	.nav {
		padding: 0 5px;
	}
}

.list {
	list-style: none;
	display: flex;
	padding: 0px 30px;
}

@media screen and (max-width: 800px) {
	.list {
		padding: 0 5px;
	}
}

.list a {
	color: #FFF;
	text-decoration: none;
	margin-left: 10px;
	display: block;

}

.list a:hover {
	color: #9AAEDC;
	transition: all 0.5s ease-out;
	transform: scale(1.1);
}

.top-main {
	margin-top: 0px;
	background-color: #6983C0;
	padding: 25px 40px;
}

@media screen and (max-width: 800px) {
	.top-main {
		padding: 30px 25px;
	}
}
.inner {
	max-width: 800px;
	margin: auto;
	padding-bottom: 15px;
}

@media screen and (max-width: 800px) {
	.inner {
		width: 100%;
	}
}
.inner h1 {
	color: #FFF;
	font-weight: normal;
	font-size: 35px;
}

.inner a {
	background-color: #2E4E97;
	text-decoration: none;
	color: #FFF;
	font-size: 20px;
	padding: 12px 15px;
	border-radius: 10px;
	display: inline-block;
}

.inner a:hover {
	font-size: 25px;
	text-align: center;
	color: #000;
	font-weight: bold;
	background-color: #fff;
	padding: 10px 7px;
	border-radius: 10px 0;
	transition: all 0.6s;
	transform: scale(1.1);
}

.inner p {
	line-height: 1.8;
	font-size: 1.2rem;

}

.section {
	background-color: #9AAEDC;
	padding: 40px 25px;
}

.inner-section {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
	grid-column-gap: 25px;
}

.inner-item h3 {
	font-weight: normal;
	color: #2E4E97;
	font-size: 1.8rem;
}
.inner-item p {
	font-size: 1.2rem;
}
.footer {
	background-color: #000;
	padding: 10px;
}

.footer p {
	color: #FFF;
	text-align: center;
	font-weight: normal;
	font-size: 1.3rem;
}